body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 960px;
    width: 960px;
    border: 1px solid black;
}

.gridElementParent {
    display: flex;
}

.gridElementChild {
    height: 45px;
    width: 45px;
    border: 1px solid black;
}
