:root{
    --mainColor: #0ec4d1b7;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18191a;
    margin: 0px;
    color: var(--mainColor);
    font-weight: bold;
}

#header {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: x-large;
}

#mainWindow {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#gridWindow {
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(58, 59, 60);
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.gridElementParent {
    display: flex;
}

.gridElementChild {
    border: 1px solid black;
    background-color: white;
    margin: -1px;
}

#settingsWindow {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #3a3b3c;
    border-radius: 5px;
    padding: 15px;
}

#settingsWindow h2 {
    align-self: center;
    margin: 0px 0px 15px 0px;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

#gridSizeElement {
    display: flex;
    gap: 15px;
    border: 1px solid var(--mainColor);
    padding: 5px;
    border-radius: 5px;
}

#gridSize {
    flex: 1;
}

.buttons {
    align-self: stretch;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    padding: 5px;
    background-color: #3a3b3c;
    color: var(--mainColor);
    font-weight: bold;
    font-size: medium;
    flex: 1;
}

#toggleSettings {
    display: flex;
    gap: 15px;
}